/Capture 1.PNG
/Capture 3.PNG
/Capture 4.PNG
/Capture.PNG
/ESG.py
/output 2.png
/output 3.png
/output 4.png
/output 5.png
/output 6.png
/output 7.png
/output.png
/Synthetic_ESG_Analysis_Presentation.pptx
/synthetic_esg_data_500_companies.csv
/~$ESG_Analysis_Presentation.pptx